<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg);">
  <div class="container">
    <h1>Save <strong>ANY</strong> kind of movies!</h1>
  </div>
</div>

<hr>

<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "Create a movie list", new_list_path , class: "btn btn-primary p-8" %>
  </div>
</div>

<hr>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
