<div class="container">
  <h3>New Review</h3>
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Submit new review", class: "btn btn-primary" %>
  <% end %>
</div>
